# Ignore Python virtual environments
venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore environment and config files
.env
.env.*

# Ignore data and contract files
wind-farm.json
contract.json
contract.yaml

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore logs
*.log
